:root {
    --first-color: white;
    --second-color: #f0f0f0;
    --third-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Arial", sans-serif;
}
.container{
    width: 85%;
    margin: auto;
}