@import url('offer.css');
@import url('nav.css');
@import url('footer.css');

.nav .container{
    border-bottom: 2px solid var(--second-color);
}

.shop-section .container{
    display: flex;
    gap: 20px;
}

.filters{
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}

.filter-box{
    margin-bottom: 20px;
}

.filter-box h4{
    margin-bottom: 10px;
}

.filter-box label{
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.apply-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pagination{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}