<div class="footer">
    <div class="container">
        <div class="subscribe-email">
            <h1>stay upto date about our laytest offers</h1>
            <div class="email-input">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Enter your email address" name="email">
                <a href="#">Subscribe To Newsletter</a>
            </div>
        </div>
        <div class="footer-info">
            <div class="shop-co">
                <h1>SHOP.CO</h1>
                <p>We have clothes that suits your style and which you're proud to wear. From women to men.</p>
                <div class="contact-logos">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
            </div>
            <div class="company">
                <h3>company</h3>
                <p>About</p>
                <p>Features</p>
                <p>Works</p>
                <p>Career</p>
            </div>
            <div class="help">
                <h3>help</h3>
                <p>Customer Support</p>
                <p>Delivery Details</p>
                <p>Term & Conditions</p>
                <p>Privacy Policy</p>
            </div>
            <div class="faq">
                <h3>faq</h3>
                <p>Account</p>
                <p>Manage Deliveries</p>
                <p>Orders</p>
                <p>Payments</p>
            </div>
            <div class="resources">
                <h3>resources</h3>
                <p>Free eBooks</p>
                <p>Development Tutorial</p>
                <p>How To - Blog</p>
                <p>YouTube Playlist</p>
            </div>
        </div>
        <div class="copy-rights">
            <p>Shop.co &COPY; 2000-2023, All Rights Reserved</p>
            <div class="payment-logos">
                <div><img src="../Images/visa.png" alt=""></div>
                <div><img src="../Images/money.png" alt=""></div>
                <div><img src="../Images/apple-pay.png" alt=""></div>
            </div>
        </div>
    </div>
</div>